<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="phoenix_interface_1">
    <test name="registerTest">
       <classes>
          <class name="com.lemon.phoenix.interfaces.RegisterInterface"> 
          </class>
       </classes>
    </test>
</suite>